.pcg-hnavbar-container {
    width: 95%;
}

.pcg-hnavbar-logo {
    width: 150px;
    margin-right: 3rem;
}

.pcg-hnavbar-all {
    padding-top: 10px;
    font-family: "Gothic-light";
    font-size: 1rem;
}

.pcg-hnavbar-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.pcg-hnavbar-link {
    color: white;
    text-decoration: none;
}

.pcg-hnav-underline {
    text-decoration: none;
    position: relative;
}
  
.pcg-hnav-underline:hover {
    text-decoration: none;
    color: white;
}
  
.pcg-hnav-underline::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    /*transform: scaleX(0);*/
    transition: all 0.0s ease-in-out 0s;
}
  
.pcg-hnav-underline:hover::before {
    visibility: visible;
    width: 100%;
    /*transform: scaleX(1);*/
}